parameters:
  level: 5
  paths:
    - app
    - database
  excludePaths:
    - tests/*
    - bootstrap/*
    - storage/*
    - vendor/*
  checkMissingIterableValueType: false
  treatPhpDocTypesAsCertain: false
